/**
 Copyright 2011 ILRI
 
 This file is part of tarakibu.
 
 tarakibu is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 tarakibu is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with tarakibu.  If not, see <http://www.gnu.org/licenses/>.
 
*/

body {
   background-color: #fff;
   font-family: Trebuchet MS, Verdana;
   color: #fff;
   font-size: 1.0em
}
h1 {
   margin: 15px;
   text-align: center;
}
h2 {
   font-size: 1.2em;
   color: #fff;
   margin: 0 0 10px 0;
}
h3 {
   font-size: 0.9em;
   text-align: justify;
   margin: 5px;
}
a {
   text-decoration: none;
   color: #0f0;
}
.site {
   background-color: #9d9;
   width:980px;
   height: 530px;
   border: 1px solid #000;
   margin: 5px auto;
}
.box {
   background-color: #000;
   padding: 10px 5px;
   width: 450px;
   border: 1px solid #fff;
}
.box.top {
   height: 80px;
}
.box.top table {
   margin: 10px 0 0 0;
   font-size: 0.9em;
}

.box.main {
   margin: 5px 0 0 0;
   height: 345px;
}
.left {
   float: left;
   margin: 10px 5px 10px 20px;
   width: 470px;
}
.right {
   float: right;
   margin: 10px 20px 10px 5px;
   width: 460px;
}
.footer {
   float: left;
   background-color: #000;
   margin: 0 20px;
   padding: 5px;
   width: 940px;
   height: 15px;
   text-align: center;
   font-size: 0.7em;
   border: 1px solid #fff;
}
.scroller {
   overflow: auto;
   width: 440px;
   padding: 5px 0px;
}

.info {
   max-height: 180px;
   height: auto;
}

.large {
   height: 270px;
}

.error {
   color: #f00;
   height: auto;
}

.general {
   color: #F0FF00;
   height: auto;
}

.input {
   height: 225px;
}

.submitbutton {
   text-align: right;
}

.invalid_gps{
   font-weight: bold;
   color: red;
}

#gps_position .gps_initializing{
   color: #FF0000;
}

#gps_position .gps_out_of_sync, #gps_position .gps_disconnected{
   color: #FF0000;
}

#gps_position .gps_running{
   color: #00FF00;
}

.delete_sample, .delete_animal{
   cursor: pointer;
}

#input_form table{
   width: 100%;
}

#input_form .show_all{
   margin-left: 25px;
}

#input_form .first_row{
   padding-bottom: 4px;
}

ol {
	font-size: 62.5%;
	margin: 20px;
	font-size: 1.2em;
}

#slider_slider {
	margin: 6px 100px 10px 0px;
	height: 12px;
   float: right;
}

#main_box .refresh{
   float: right;
   position: relative;
   top: -38px;
   width: 30px;
   margin-left: -20px;
   border: 0px;
}

#input_form table{
   font-size: 1em;
}